<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    </head>
    <body>
        {% include header.html %}
        {{ content }}

        <script src="/assets/js/upload.js"></script>
        <script src="/assets/js/display_results.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    </body>
</html>
