---
layout: default
---
<div class="grid-container" id="skype-upload-form">
    <div class="grid-100">
        <form action="">
            <label for="filename">Skype Export File</label>
            <input type="file" id="tar-upload-input" name="filename" accept="application/json">
        </form>
    </div>
</div>

<div class="grid-container hidden" id="skype-display-table">
    <table id="skype-table">
        <thead id="skype-table-head">
            <tr>
                <th>Call Date</th>
                <th>Duration</th>
                <th>Participants</th>
                <th>Call Started By</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

