---
layout: default
---
<div class="grid-container" id="instructions">
    <div class="grid-90 prefix-5">
        <h2>How to use this service</h2>
    </div>
</div>

<div class="grid-container" id="skype-upload-form">
    <div class="grid-100">
        <form action="">
            <label for="filename">Skype Export File</label>
            <input type="file" id="tar-upload-input" name="filename" accept="application/json">
        </form>
    </div>
</div>

<div class="grid-container hidden" id="skype-display-table">
    <div class="grid-50">
        <form>
            <button type="button" value="Export PDF" id="export-skype-pdf">Export PDF</button>
        </form>
    </div>
    <div class="grid-100">
        <table id="skype-table">
            <thead id="skype-table-head">
                <tr>
                    <th>Call Date</th>
                    <th>Duration</th>
                    <th>Participants</th>
                    <th>Call Started By</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>
<script>
document.getElementById('export-skype-pdf').addEventListener('click', function () {
    let skypeExport = document.getElementById('skype-table')
    const doc = new jsPDF()

    doc.autoTable({
        html: '#skype-table',
        theme: 'grid',
        useCss: true,
        pageBreak: 'auto'
    })
    doc.save('skype.pdf')
})
</script>

